language: node_js
sudo: false
node_js:
  - lts/*
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_script:
  - cd client && npm install && cd ../server && npm install && cd ../client
script:
  - cd client
  - node support/server.js & SERVER_PID=$!
  - npm run test
  - kill $SERVER_PID